:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --transition: all 400ms ease;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
ul {
  list-style: none;
}
a:hover {
  color: #535bf2;
}
button:hover{
  transition: var(--transition);
  transform: scale(1.01);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
h1 {
  font-size: 2.5rem;
}
section {
  margin-top: 3rem;
  max-width:100% ;
  padding: 0 10px;
}


.loader-cont{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  background: #ffffff;
  background-size: 200% 200%;
  cursor: progress;
}
 
  .custom-loader {
    animation: rotate4 2s linear infinite;
  }

  @keyframes rotate4 {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash4 {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }

    100% {
      stroke-dashoffset: -125px;
    }
  }
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    cursor: all-scroll;
  }
  
  ::-webkit-scrollbar-track {
    background: #dddddd;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #176984;
    border-radius: 50px;
  }
  

  .dots_loader{
    font-size:13px;
  }
  .dots_loader::after {
    color: #95a5a6;
    content: '';
    animation: dots 1.5s infinite;
  }
  
  @keyframes dots {
    0%, 20% { content: ''; }
    40% { content: '.'; }
    60% { content: '..'; }
    80%, 100% { content: '...'; }
  }
  